FIREFLIES_API_KEY=
FIREFLIES_GRAPHQL_URL=https://api.fireflies.ai/graphql

ACU_BASE_URL=https://localhost:443
ACU_INSTANCE_NAME=demo
ACU_APPROVAL_ENDPOINT_NAME=LSOpportunityNotes
ACU_APPROVAL_ENDPOINT_VERSION=25.200.001
